.close-btn {
    position: fixed;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    float: right;
}

.close-btn:hover {
    color: red;
    background-color: rgba(0, 0, 0, 0.3) ;
}

.grid-result {
    max-width:30vw;
    max-height : 50vh;

}

#gridView {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 95vh;
    width: 95vw;
    background-color: white;
    z-index: 5;
    overflow: auto;
}