
.image-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.resizable-image {
    max-width: 100%;
    max-height: 75vh; 
    height: auto;
    width: auto;
}

#gridView {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 90vh;
    width: 90vw;
    background-color: white;
    z-index: 5;
}