.App {
  text-align: center;
  flex-direction: column;
  display : flex
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 1000;
}

.content-container {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 60px; /* Adjust according to header height */
  padding-bottom: 60px; /* Adjust according to footer height */
}

.segmenter-detector {
  padding: 20px;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .header,
  .footer {
    padding: 10px;
  }
}
